In [4]:
import numpy as np
import pandas as pd

In [9]:
np.random.seed(101)

In [3]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split() )

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [6]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [7]:
df['NEW'] = df['W']+df['Z']

In [8]:
df

          W         X         Y         Z       NEW
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [12]:
df.drop('NEW',axis=1, inplace=True)

In [13]:
df.loc['A','W']

2.706849839399938

In [14]:
df.loc[['A','B'], ['Z']]

          Z
A  0.503826
B  0.605965

In [15]:
df.iloc[1:4,2:]

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057

In [10]:
df = pd.DataFrame(np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
bol = df > 0

In [13]:
df[bol]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [18]:
df[(df['W']>0)&(df['Y']>1)]

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df.reset_index(inplace=True)

In [23]:
df

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [24]:
col = 'DF RJ AM SC RO'.split()

In [25]:
df['Estado'] = col

In [26]:
df

  index         W         X         Y         Z Estado
0     A  2.706850  0.628133  0.907969  0.503826     DF
1     B  0.651118 -0.319318 -0.848077  0.605965     RJ
2     C -2.018168  0.740122  0.528813 -0.589001     AM
3     D  0.188695 -0.758872 -0.933237  0.955057     SC
4     E  0.190794  1.978757  2.605967  0.683509     RO

In [28]:
df.set_index('Estado', inplace=True)

In [29]:
df

       index         W         X         Y         Z
Estado
DF         A  2.706850  0.628133  0.907969  0.503826
RJ         B  0.651118 -0.319318 -0.848077  0.605965
AM         C -2.018168  0.740122  0.528813 -0.589001
SC         D  0.188695 -0.758872 -0.933237  0.955057
RO         E  0.190794  1.978757  2.605967  0.683509